body {
    color: #737491;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
.signin {
    height: 100vh;
  
}
.singin-form {
    width: 550px;
    min-height: 550px;
    position: relative;
}
.singin-form::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 550px;
    background: url(../img/signin-illustration.png) no-repeat center / cover;
}
.singin-form-inner {
  position: relative;
    z-index: 9999;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
}
.singin .position-absolute {
    z-index: 9999;
}
.singin input:focus
.sigin .btn:focus{
    box-shadow: none;
}
.singin-form-bottom .social-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    color: #737491;
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.singin-form-bottom a:hover .social-icon {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}
